In [ ]:
Str:
    str is having highest priority among all DS
    
    it is collection of chars arranged in some meaningfull order
    it is immutable type
    its zero based index --> 
    
    How to define str?

In [1]:
a = 10
b = 20
c  =a+b

In [2]:
c

30

In [ ]:
real

In [3]:
input()

sdfsd

'sdfsd'

In [4]:
a = input("Enter the number:")

Enter the number:45

In [5]:
a

'45'

In [6]:
type(a)

str

In [7]:
a = 'z'

In [8]:
type(a)

str

In [ ]:
define


' '

"  "

'''    '''

"""    """

In [9]:
a = 'Python'

In [10]:
type(a)

str

In [11]:
a = "Python"

In [12]:
type(a)

str

In [13]:
st = 'AI is trending in the market it's also used to testing,stocks even in other domain'

SyntaxError: invalid syntax (<ipython-input-13-3bc8e2f43240>, line 1)

In [30]:
#st = "AI is trending in the market it's also used to testing,stocks even in other domain"

In [15]:
st

"AI is trending in the market it's also used to testing,stocks even in other domain"

In [16]:
st = "AI is trending in the market "its" also used to testing,stocks even in other domain"

SyntaxError: invalid syntax (<ipython-input-16-54f05f3a5c5c>, line 1)

In [17]:
st = 'AI is trending in the market "its" also used to testing,stocks even in other domain'

In [18]:
st

'AI is trending in the market "its" also used to testing,stocks even in other domain'

In [20]:
py_str = "You must have seen connecting csv and excel files with pandas to convert them to dataframes. 
Here we are going to see how can we connect databases with pandas and convert them to dataframes.
We are going to use various types of SQL like SQLite, MySQL, Microsoft SQL Server, Oracle and PostgreSQL."

SyntaxError: EOL while scanning string literal (<ipython-input-20-7bef764ea216>, line 1)

In [ ]:
' ' and " " --  use for single line string

In [26]:
py_str = """You must have seen connecting csv and excel files with pandas to convert them to dataframes. 
Here we are going to see how can we connect 'databases' 'with pandas and "convert "them to dataframes.
We are going to use various types of SQL like SQLite, MySQL, Microsoft SQL Server, Oracle and PostgreSQL."""

In [27]:
print(py_str)

You must have seen connecting csv and excel files with pandas to convert them to dataframes.
Here we are going to see how can we connect 'databases' 'with pandas and "convert "them to dataframes.
We are going to use various types of SQL like SQLite, MySQL, Microsoft SQL Server, Oracle and PostgreSQL.

In [24]:
py_str = '''You must have seen connecting csv and excel files with pandas to convert them to dataframes. 
Here we are going to see how can we connect databases with pandas and convert them to dataframes.
We are going to use various types of SQL like SQLite, MySQL, Microsoft SQL Server, Oracle and PostgreSQL.'''

In [25]:
print(py_str)

You must have seen connecting csv and excel files with pandas to convert them to dataframes.
Here we are going to see how can we connect databases with pandas and convert them to dataframes.
We are going to use various types of SQL like SQLite, MySQL, Microsoft SQL Server, Oracle and PostgreSQL.

In [ ]:
' ' and " " --  use for single line string
"""  """ and '''  ''' use

In [ ]:

'''
this srcipt use data from xyz source
process data and dump into database

'''

#dfasdf

In [ ]:
# use for single line

In [ ]:
"""
sdafsdafsadfsdafsda
fsad
fs
adg
sadg
asdfg
afsd
gfasd
fasdg
fasd
"""

In [ ]:
Operation on str:

In [31]:
p = 'Python'

In [32]:
p.upper()

'PYTHON'

In [33]:
p = 'HADOOP'

In [34]:
p.lower()

'hadoop'

In [35]:
p

'HADOOP'

In [47]:
username = 'Admin'
u = input("Enter the username:")

if username==u.capitalize():
    print("Logged in.....")
else:
    print("Please check username")

Enter the username:Admin
Logged in.....

In [48]:
username

'Admin'

In [49]:
a = 'python'

In [50]:
a.capitalize()

'Python'

In [51]:
p = 'PythOn'

In [52]:
p.swapcase()

'pYTHoN'

In [53]:
p

'PythOn'

In [54]:
p.upper()

'PYTHON'

In [57]:
p.lower()

'python'

In [58]:
p

'PythOn'

In [59]:
p.capitalize()

'Python'

In [61]:
p = 'the ml model'

In [62]:
p.capitalize()

'The ml model'

In [63]:
p.title()

'The Ml Model'

In [ ]:
startswith 
endswith

In [ ]:
startswith("sdf")

In [64]:
p = 'copper meterial'

In [66]:
p.startswith('copper')

True

In [67]:
filename = 'gold.pdf'

In [69]:
filename.startswith('Gold')

False

In [70]:
email = 'test@gmail.com'

In [71]:
product = ['C54654654','P456546','C7567567']

In [72]:
email

'test@gmail.com'

In [75]:
email.endswith('com')

True

In [76]:
p = ['gold sdalfknsadlfknsd','sadfsdf gold sadfsdf','dfasdf gold']

In [78]:
s1 = 'gold sdalfknsadlfknsd'

In [79]:
'gold' in s1

True

In [80]:
'gold' in 'sadfsdf gold sadfsdf'

True

In [ ]:
file read gold --> 

file contact 
email

pincode

file --> contact --> file

In [81]:
p = 'Jon janny  janardhan'

In [83]:
p.startswith('Jon')

True